# Do not track certificates
*.key
*.dec
*.crt
# Do not track original files
*.yaml 
!kustomization.yaml
!user-namespace/**/profile-instance.yaml
!namespace.yaml
!.github/**/*.yaml
!manifests/**/*.yaml
*.json
*.env
*.backup